
<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<div class="field">
	<%= f.label :fName, "First Name" %><%= f.text_field :fName %>
</div>	
<div class="field">
	<%= f.label :lName, "Last Name" %><%= f.text_field :lName %>
</div>	
<div class="field">
	<%= f.label :email %><%= f.email_field :email %>
</div>	
<div class="field">
	<%= f.label :password, "Password" %><%= f.password_field :password %>
</div>	
<div class="field">
	<%= f.label :password_confirmation, "Confirm Password" %><%= f.password_field :password_confirmation %>
</div>
<div class="Action">
	<%= f.submit "SignUp", class: "btn btn-large btn-primary"%>
</div>
<% end %>

<%= debug(params) if Rails.env.development? %>
