<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
 <%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
	<%= render 'layouts/header' %>
	<br>
	<br>
	<br>
		
			<% flash.each do |key, value|%>
			<div class="alert alert-<%= key %>">
				<%= value %>
			</div>
			<% end%>
			<%= yield %>
		
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.Development? %>
	</div>
</body>
</html>
